<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <!-- 要提交到mas必须有sandbox权限 -->
    <key>com.apple.security.app-sandbox</key> 
    <true/>
    <key>com.apple.security.application-groups</key>
    <array>
       <!-- //你的teamId.你应用的bundleId -->
      <string>fun.anfo.dodone</string> 
    </array>
    <key>com.apple.application-identifier</key>
      <!-- //你的teamId.你应用的bundleId -->
    <string>fun.anfo.dodone</string>
    <!-- //electron20+必须有此项否则闪退 -->
    <key>com.apple.security.cs.allow-jit</key> 
    <true/>
    <!-- //防闪退 -->
    <key>com.apple.security.cs.allow-unsigned-executable-memory</key> 
    <true/>
    <!-- //防闪退 -->
    <key>com.apple.security.cs.allow-dyld-environment-variables</key> 
    <true/>
    <!-- //此项以下开始为自定义的权限，根据你的应用情况按需添加，不能多不能少 -->
     <!-- //如果electron有showOpenDialog则必须有此项 -->
    <!-- <key>com.apple.security.files.user-selected.read-only</key>
    <true/> -->
     <!-- //如果electron有showSaveDialog则必须有此项 -->
    <!-- <key>com.apple.security.files.user-selected.read-write</key>
    <true/> -->
    <!-- <key>com.apple.security.files.downloads.read-write</key>
    <true/> -->
  </dict>
</plist>