@theme inline {
  --text-color-default: var(--text-color-default);
  --text-color-light: var(--text-color-light-1);
  --text-color-light-1: var(--text-color-light-1);
  --text-color-light-2: var(--text-color-light-2);
  --text-color-light-3: var(--text-color-light-3);

  --color-bg: var(--bg);
  --color-bg-a60: var(--bg-a60);
  --color-light: var(--color-light-1);
  --color-light-1: var(--color-light-1);
  --color-light-2: var(--color-light-2);
  --color-light-3: var(--color-light-3);
  --color-light-4: var(--color-light-4);
  --color-light-5: var(--color-light-5);

  --leading-multi: 1.4;

  --color-primary: var(--color-primary);
  --color-primary-a10: var(--color-primary-a10);
  --color-primary-a20: var(--color-primary-a20);
  --color-primary-a30: var(--color-primary-a30);
  --color-primary-a40: var(--color-primary-a40);
  --color-primary-dark: var(--color-primary-dark);
  --color-primary-light: var(--color-primary-light-1);
  --color-primary-light-1: var(--color-primary-light-1);
  --color-primary-light-2: var(--color-primary-light-2);
  --color-primary-light-3: var(--color-primary-light-3);
  --color-primary-light-4: var(--color-primary-light-4);
  --color-primary-light-5: var(--color-primary-light-5);
  --color-primary-light-6: var(--color-primary-light-6);

  --color-danger: var(--color-danger);
  --color-error: var(--color-danger);
  --color-urgent: var(--color-danger);
  --color-success: var(--color-success);
  --color-success-dark: var(--color-success-dark-1);
  --color-success-light: var(--color-success-light-1);
  --color-success-light-1: var(--color-success-light-1);
  --color-success-light-2: var(--color-success-light-2);
  --color-success-light-3: var(--color-success-light-3);
  --color-success-light-4: var(--color-success-light-4);

  --border-color-dark: var(--border-color-dark-1);
  --border-color-dark-1: var(--border-color-dark-1);
  --border-color-dark-2: var(--border-color-dark-2);
  --border-color-dark-3: var(--border-color-dark-3);
  --border-color-dark-4: var(--border-color-dark-4);
  --border-color-dark-5: var(--border-color-dark-5);
}

html {
    --color-primary: hsl(221, 91%, 59%);
    --color-primary-a10: hsla(221, 91%, 59%, 0.1);
    --color-primary-a20: hsla(221, 91%, 59%, 0.2);
    --color-primary-a30: hsla(221, 91%, 59%, 0.2);
    --color-primary-a40: hsla(221, 91%, 59%, 0.2);
    --color-primary-dark: hsl(221, 91%, 45%);
    --color-primary-light-1: hsl(221, 91%, 68%);
    --color-primary-light-2: hsl(221, 91%, 77%);
    --color-primary-light-3: hsl(221, 91%, 82%);
    --color-primary-light-4: hsl(221, 91%, 84%);
    --color-primary-light-5: hsl(221, 91%, 90%);
    --color-primary-light-6: hsl(221, 91%, 95%);

    --color-danger: hsl(2, 80%, 63%);
    --color-success: hsl(99, 80%, 44%);
    --color-success-dark-1: hsl(99, 80%, 31%);

    --color-success-light-1: hsl(99, 80%, 83%);
    --color-success-light-2: hsl(99, 80%, 89%);
    --color-success-light-3: hsl(99, 80%, 92%);
    --color-success-light-4: hsl(99, 80%, 95%);
}

/* @media (prefers-color-scheme: light) { */
  html {
    --bg: #fff;
    --bg-a60: rgba(255, 255, 255,  0.6 );

    --text-color-default: #333;
    --text-color-light-1: #666;
    --text-color-light-2: #999;
    --text-color-light-3: #aaa;

    --color-light-1: #fafafa;
    --color-light-2: #f3f3f3;
    --color-light-3: #eaeaea;
    --color-light-4: #e3e3e3;
    --color-light-5: #dadada;

    --border-color-dark-1: #efefef;
    --border-color-dark-2: #e3e3e3;
    --border-color-dark-3: #dedede;
    --border-color-dark-4: #d3d3d3;
    --border-color-dark-5: #cecece;
    --border-color-dark-6: #c3c3c3;

  }
/* }
@media (prefers-color-scheme: dark) { */
  html.dark {
    --bg: #000;
    --bg-a60: rgba(0, 0, 0, 0.6);

    --text-color-default: #f3f3f3;
    --text-color-light-1: #d3d3d3;
    --text-color-light-2: #c3c3c3;
    --text-color-light-3: #a3a3a3;

    --color-light-1: #222;
    --color-light-2: #2f2f2f;
    --color-light-3: #333;
    --color-light-4: #3f3f3f;
    --color-light-5: #444;

    --border-color-dark-1: #333;
    --border-color-dark-2: #4f4f4f;
    --border-color-dark-3: #555;
    --border-color-dark-4: #5f5f5f;
    --border-color-dark-5: #666;
    --border-color-dark-6: #6f6f6f;
  }
/* } */
